/* Général */
html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'FuturaPTBook';
    background: black;
    background: linear-gradient(180deg, rgba(2, 103, 143, 1) 0%, rgba(118, 120, 177, 1) 12%, rgba(176, 137, 226, 1) 25%, rgba(227, 171, 229, 1) 36%, rgba(255, 175, 175, 1) 47%, rgba(254, 212, 174, 1) 59%, rgba(255, 243, 216, 1) 79%, rgba(0, 0, 0, 1) 80%);
    overflow-x: hidden;
}

section {
    height: 100vh;
    box-sizing: border-box;
}

.nuage {
    width: 50vw;
    position: absolute;
    z-index: -9999;
}

a {
    text-decoration: none;
    color: white;
}

span {
    font-weight: bold;
}

.levit {
    animation: mascotte2 1.8s ease-in-out infinite alternate-reverse;
}

.levit:hover {
    animation-play-state: paused;
}


/* ScrollBar */

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}

/* Burger */

.container {
    position: relative;
    width: 100%;
    /* height: 100vh; */
    z-index: 100;
}

.navbar {
    width: 300px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    top: 0;
    right: -300px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20% 0 0 40%;
    transition: right .6s ease-in-out;
}

.change {
    right: 0;
}

.hamburger-menu {
    width: 60px;
    height: 45px;
    position: fixed;
    z-index: 9999;
    top: 3%;
    right: 2%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.line {
    width: 100%;
    height: 5px;
    border-radius: 3px;
    background-color: #fff;
    transition: all 0.8s;
}

.change .line-1 {
    transform: rotateZ(-405deg) translate(-14px, 6px);
}

.change .line-2 {
    opacity: 0;
}

.change .line-3 {
    transform: rotateZ(405deg) translate(-14px, -6px);
}

.nav-list {
    text-align: right;
}

.nav-item {
    list-style: none;
    margin: 25px;
}

.nav-link {
    text-decoration: none;
    font-size: 22px;
    font-family: "FuturaPTMedium";
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
    position: relative;
    padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
    content: '';
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nlA::before,
.nlA::after {
    background: #126A94;
}

.nlMD::before,
.nlMD::after {
    background: #C094E3;
}

.nlMJ::before,
.nlMJ::after {
    background: #FFB7AF;
}

.nlB::before,
.nlB::after {
    background: #FEE4C3;
}

.nlC::before,
.nlC::after {
    background: #000;
}

.nav-link::after {
    bottom: 0;
    transform-origin: right;
}

.nav-link::before {
    top: 0;
    transform-origin: left;
}

.nav-link:hover::before,
.nav-link:hover::after {
    transform: scaleX(1);
}


/* Section Accueil */

.Accueil {
    display: flex;
    justify-content: center;
    position: relative;
}

.titreAccueil {
    margin-top: 5%;
    width: 800px;
    height: 500px;
    position: relative;
    z-index: -99;
}

.B2 {
    top: 75vh;
    left: -15vw;
}

.B3 {
    top: 60vh;
    right: 0;
}

.containMascotte1 {
    position: absolute;
    top: 1%;
    left: 1.5%;
    display: flex;
    flex-direction: row;
}

.mascotte1 {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal1 {
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    z-index: 999;
    left: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte1:hover>.infoModal1 {
    visibility: visible;
    opacity: 1;
}

.infoModal1::after {
    right: 100%;
    top: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 35px;
}

.textModalInfo1 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}



/* Section Métier-dex */

.MetierDex1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titreMetier {
    font-family: 'FuturaPTBook';
    color: white;
    font-size: 9rem;
}

.B2_bis {
    top: 70vh;
    left: -15vw;
}

.B1 {
    top: 55vh;
    right: 0;
}

.containMascotte2 {
    position: absolute;
    top: 60%;
    right: 1%;
    display: flex;
    flex-direction: row-reverse;
}

.mascotte2 {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal2 {
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    /* z-index: 9999; */
    right: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte2:hover>.infoModal2 {
    visibility: visible;
    opacity: 1;
}

.infoModal2::after {
    left: 100%;
    top: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 35px;
}

.textModalInfo2 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}



/* Section Mini-Jeu */

.MiniJeu1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.titreJeu {
    font-family: 'FuturaPTBook';
    color: white;
    font-size: 9rem;
    cursor: pointer;
}

h1.effet-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
    color: #fff;
}

.anime {
    background: linear-gradient(to right, #fff 50%, #000 50%);
    background-size: 200%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 0.5s ease-out;
}

.anime:hover {
    background-position: -100%;
}

.modal-bg2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;
    z-index: 40;
}

.bg-active2 {
    visibility: visible;
    opacity: 1;
}

.modal2 {
    position: relative;
    background-color: #fff;
    width: 40%;
    height: 40%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    z-index: 40;
    border-radius: 40px;
}

.modal2 img {
    width: 30%;
    animation: mascotte 3s ease infinite alternate-reverse;
}

.modal2 p {
    font-size: 2rem;
    max-width: 50%;
}

.modal-close2 {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.modal-close2:hover {
    opacity: 1;
}

.modal-close2:before,
.modal-close2:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modal-close2:before {
    transform: rotate(45deg);
}

.modal-close2:after {
    transform: rotate(-45deg);
}

.G1 {
    top: 50vh;
    right: 0;
    width: 40vw;
}

.G2 {
    top: 67vh;
    left: -10vw;
}

.containMascotte3 {
    position: absolute;
    bottom: 13%;
    left: 18%;
    display: flex;
    flex-direction: row;
}

.mascotte3 {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal3 {
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    z-index: 999;
    left: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte3:hover>.infoModal3 {
    visibility: visible;
    opacity: 1;
}

.infoModal3::after {
    right: 100%;
    top: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 35px;
}

.textModalInfo3 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}





/* Section BUT MMI */

.BUTmmi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
}

.containerBut {
    width: 20%;
    height: 60%;
    animation: but 2s ease-in-out infinite alternate-reverse;
}

.imgBut {
    width: 100%;
    display: inline-block;
}

.texte {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    font-size: 1.2rem;
    background: white;
    padding: 40px;
    /* border: black solid; */
    border-radius: 40px;
    position: relative;
}

.texte p {
    text-align: justify;

}

.texte h2 {
    font-size: 3rem;
}

.N1 {
    top: 65vh;
    left: -7vw;
}

.N2 {
    top: 63vh;
    right: 0;
}

.N1_bis {
    top: 65vh;
    right: 26%;
}

.N3 {
    top: 75vh;
    right: 0;
}

.containMascotte4 {
    position: absolute;
    top: 3%;
    left: 5%;
    display: flex;
    flex-direction: row;
}

.mascotte4 {
    width: 140px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.mascotte4:hover {
    animation: mascotte 1.5s infinite alternate-reverse;
}

.infoModal4 {
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    z-index: 999;
    left: -85%;
    top: -180%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte4:hover>.infoModal4 {
    visibility: visible;
    opacity: 1;
}

.infoModal4::after {
    top: 100%;
    left: 40%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #fff;
    border-width: 35px;
}

.textModalInfo4 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}




/* Section Nous (les créateurs) */

.nous {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.titreNous {
    color: white;
    font-family: 'FuturaPTMedium';
    font-size: 3rem;
}

.containerNous {
    width: 100%;
    height: 100%;
    perspective: 1000px;
    flex-direction: wrap;
    justify-content: space-evenly;
    align-items: center;
    display: flex;
}

.card_inner {
    width: 320px;
    height: 500px;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.pailletteB,
.pailletteM,
.pailletteJ,
.pailletteL {
    position: absolute;
    width: 320px;
    height: 500px;
    background-image: url("./Img/sparkles.gif");
    background-position: center;
    background-size: 180%;
    mix-blend-mode: color-dodge;
    opacity: 1;
    z-index: 12;
}

.card_inner.is-flipped {
    transform: rotateY(180deg);
}

.card_inner2.is-flipped {
    transform: rotateY(180deg);
}

.card_inner3.is-flipped {
    transform: rotateY(180deg);
}

.card_inner4.is-flipped {
    transform: rotateY(180deg);
}

.card_face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0px 3px 18px 3px rgba(255, 255, 255, 0.5);
}

.cardB {
    background-image: url("Img/carte-front-B.png");
    box-shadow: 0px 3px 18px 5px rgba(104, 23, 77, 0.9);
}

.cardM {
    background-image: url("Img/carte-front-M.png");
    box-shadow: 0px 3px 18px 5px rgba(234, 117, 107, 0.9);
}

.cardJ {
    background-image: url("Img/card-front-J.png");
    box-shadow: 0px 3px 18px 5px rgba(17, 12, 253, 0.9);
}

.cardL {
    background-image: url("Img/card-front-L.png");
    box-shadow: 0px 3px 18px 8px rgba(51, 23, 3, 1);
}

.card_backL {
    box-shadow: 0px 3px 18px 8px rgba(51, 23, 3, 1);
}

.card_backM {
    box-shadow: 0px 3px 18px 5px rgba(234, 117, 107, 0.9);
}

.card_backJ {
    box-shadow: 0px 3px 18px 5px rgba(17, 12, 253, 0.9);
}

.card_backB {
    box-shadow: 0px 3px 18px 5px rgba(104, 23, 77, 0.9);
}

.card_face-front {
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}


.card_face-front:hover {
    animation: card 2s ease-in-out infinite;
}

.card_face-front h2 {
    color: #fff;
    font-size: 25px;
    margin-bottom: 490px;
    margin-right: 80px;
}

.card_face-back {
    background-color: #f3f3f3;
    transform: rotateY(180deg);
}

.card_content {
    width: 100%;
    height: 100%;
}

.card_header {
    position: relative;
    padding: 30px 30px 40px;
}

.card_header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.M {
    background-image: linear-gradient(to bottom left, #95BDD3, rgb(234, 117, 107), #F3942D 115%);
    border-radius: 0 0 50% 0;
}

.L {
    background-image: linear-gradient(to bottom left, #5263A7, rgb(51, 35, 5), #2E1505 115%);
    border-radius: 0 0 50% 0;
}

.J {
    background-image: linear-gradient(to bottom left, #264CC8 10%, #90F4F4, rgb(17, 12, 253) 115%);
    border-radius: 0 0 50% 0;
}

.B {
    background-image: linear-gradient(to bottom left, #B7DFE2 10%, rgb(104, 23, 77) 60%, #481F57 90%);
    border-radius: 0 0 50% 0;
}

.card_header h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.card_body {
    padding: 30px;
}

.card_body h3 {
    color: #212121;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.card_body p {
    color: #212121;
    font-size: 1.2rem;
    line-height: 1;
    text-align: justify;
}

.card_body a {
    color: #000;
    padding: 10px 0;
    font-weight: 500;
}

.effet::before,
.effet::after {
    content: '';
    width: 40%;
    height: 2px;
    background-color: chocolate;
    position: absolute;
    left: 30px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.effet::after {
    bottom: 8%;
    transform-origin: right;
}

.eM::after {
    background-color: #EA756B;
}

.eM::before {
    background-color: #95BDD3;
}

.eJ::after {
    background-color: #110CFD;
}

.eJ::before {
    background-color: #90F4F4;
}

.eL::after::after {
    background-color: #A98025;
}

.eL::before {
    background-color: #5263A7;
}

.eB::after {
    background-color: #68174D;
}

.eB::before {
    background-color: #B7DFE2;
}

.effet::before {
    top: 86%;
    transform-origin: left;
}

.effet:hover::before,
.effet:hover::after {
    transform: scaleX(1);
}

.containMascotte5 {
    position: absolute;
    top: 3%;
    left: 2%;
    /* z-index: -9999; */
    display: flex;
    flex-direction: row-reverse;
    z-index: 30;
}

.mascotte5 {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal5 {
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    z-index: 999;
    left: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte5:hover>.infoModal5 {
    visibility: visible;
    opacity: 1;
}

.infoModal5::after {
    right: 100%;
    top: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 35px;
}

.textModalInfo5 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}


/* Formulaire */

form {
    font-family: 'FuturaPTMedium';
}

.modal h2 {
    position: relative;
    font-size: 2.4rem;
    color: black;
}

.modal-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 1s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: relative;
    background-color: #fff;
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.modal form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.input-box {
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
    position: relative;
}

.input-box input {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    border: 2px solid transparent;
    font-size: 1rem;
    transition: all 0.3s ease;
}

.nomPrenom {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nom {
    background: #80b3c7;
    width: 95%;
}

#nom:hover {
    opacity: 0.7;
}

.input-box #nom:focus~label,
.input-box #nom:valid~label {
    background: #80b3c7;
}

#prenom {
    background: #80b3c7;
    width: 100%;
}

#prenom:hover {
    opacity: 0.7;
}

.input-box #prenom:focus~label,
.input-box #prenom:valid~label {
    background: #80b3c7;
}

#mail {
    background: #b089e2;
}

#mail:hover {
    opacity: 0.7;
}

.input-box #mail:focus~label,
.input-box #mail:valid~label {
    background: #b089e2;
}

#objet {
    background: #ffafaf;
}

#objet:hover {
    opacity: 0.7;
}

.input-box #objet:focus~label,
.input-box #objet:valid~label {
    background: #ffafaf
}

#message {
    background: #fff3d8;
}

#message:hover {
    opacity: 0.6;
}

.input-box input:focus,
.input-box input:valid {
    background-color: #fff;
    border-color: black;
}

.input-box label {
    position: absolute;
    left: 12px;
    top: 35%;
    color: black;
    transform: translateY(-50%);
    pointer-events: none;
    transition: all 0.3s ease;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 0;
    left: 12px;
    color: black;
    background: #fff;
    border-radius: 3px;
    padding-right: 2px;
    padding-left: 2px;
}

.message-box {
    margin-top: 15px;
    min-height: 150px;
    position: relative;
}

.message-box textarea {
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    outline: none;
    resize: none;
    font-family: 'FuturaPTMedium';
    background: black;
    border: 2px solid transparent;
    transition: all 0.3s ease;
}


.message-box textarea:focus {
    border-color: black;
    background-color: #fff;
}

.message-box label {
    position: absolute;
    font-size: 1rem;
    color: black;
    left: 18px;
    top: 6px;
    pointer-events: none;
    transition: all 0.3s ease;
}

.message-box textarea:focus~label,
.message-box textarea:valid~label {
    left: 12px;
    top: -14px;
    color: black;
    border-radius: 3px;
    background: #fff3d8;
}

.input-box input[type="submit"]:hover {
    background-color: #fff;
    border: black solid;
    color: black;
}

.input-box input[type="submit"] {
    color: #fff;
    background: black;
    font-size: 1.125rem;
    cursor: pointer;
    transition: all 1s ease;
    width: 20%;
    font-family: 'FuturaPTMedium';
    border: none;
    margin-top: 20px;
    margin-left: 40%;
    text-align: center;

}

.modal-close {
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}


.modal-btn {
    position: fixed;
    z-index: 999;
    bottom: 3%;
    right: 1%;
    width: 120px;
    height: auto;
}

.modal-btn:hover {
    animation: enveloppe 0.9s ease infinite alternate-reverse;
    cursor: pointer;
    transform: translateY(10px);
}

.containMascotte6 {
    position: absolute;
    top: 3%;
    left: 0%;
    display: flex;
    flex-direction: row-reverse;
}

.mascotte6 {
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal6 {
    width: 300px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    /* z-index: 9999; */
    right: 138%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;

}

.containMascotte6:hover>.infoModal6 {
    visibility: visible;
    opacity: 1;
}

.infoModal6::after {
    left: 100%;
    top: 20%;
    border: solid transparent;
    content: "";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-left-color: #fff;
    border-width: 35px;
}

.textModalInfo6 {
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}



/* Fonts */

@font-face {
    font-family: 'FuturaPTMedium';
    src: url("./FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff"),
        url("./FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("./FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff"),
        url("./FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}

/* Keyframes */

@keyframes enveloppe {
    0% {
        transform: rotateZ(-30deg);
    }

    33% {
        transform: rotateZ(30deg);
    }

    66% {
        transform: rotateZ(-30deg);
    }

    100% {
        transform: rotateZ(0deg);
    }

}

@keyframes card {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}

@keyframes but {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(20px);
    }
}

@keyframes mascotte {
    0% {
        transform: rotateZ(-0deg);
    }

    33% {
        transform: rotateZ(15deg);
    }

    66% {
        transform: rotateZ(-5deg);
    }

    100% {
        transform: rotateZ(0deg);
    }

}

@keyframes mascotte2 {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(15px);
    }
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }

    to {
        -webkit-mask-position: -50%;
    }
}


/* Media Queries */

@media screen and (max-width: 1360px) {
    .containerNous {
        flex-wrap: wrap;
    }
}