/* Général */

body{
    margin: 0;
    background: rgb(2,103,143);
background: linear-gradient(180deg, rgba(2,103,143,1) 0%, rgba(118,120,177,1) 18%, rgba(176,137,226,1) 32%, rgba(227,171,229,1) 49%, rgba(255,175,175,1) 64%, rgba(254,212,174,1) 78%, rgba(255,243,216,1) 92%, rgba(0,0,0,1) 100%);
}

section{
    height: 100vh;
}

/* Burger */

.logoBurger{
    position: fixed;
    top: 2%;
    right: 2%;
    width: 55px;
    height: 55px;
    z-index: 999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoBurger:active ~ .divBurger{
    transform: translateX(0);
}


.traitG{
    width: 55px;
    border: white solid;
    background-color: white;
    border-radius: 10px;
}

.trait2{
    margin-top: 10px;
    margin-bottom: 10px;
}

.divBurger{
    height: 100vh;
    width: 20vw;
    background-color: white;

    position: fixed;
    right: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    transform: translateX(20vw);
    transition: all 1s ease;
}

nav{
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul li{
    display: block;
}

a{
    text-decoration: none;
    display: block;
    color: black;
}

#li2{
    margin-top: 100px;
    margin-bottom: 100px;
}

#li4{
    margin-top: 100px;
    margin-bottom: 100px;
}


/* Section Accueil */

.Accueil{
    background-image: url("./Img/Nuages/Blanc/Nuage3.png");
    background-position: left;
}

/* Section Métier-dex */

.MetierDex1{
    /* background: rgb(255,175,175); */
    /* /* /* /* background: linear-gradient(31deg, rgba(255,175,175,1) 21%, rgba(254,212,174,1) 52%, rgba(255,243,216,1) 76%, rgba(255,226,249,1) 222%, rgba(221,255,224,1) 222%, rgba(255,218,223,1) 222%); */ 
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}

.titreMetier{
    font-family: 'FuturaPTBook';
    color: white;
    font-size: 7rem;
}


/* Section Mini-Jeu */

.MiniJeu1{
    /* background: rgb(88,69,113); */
    /* /* /* /* background: linear-gradient(31deg, rgba(88,69,113,1) 21%, rgba(118,120,177,1) 53%, rgba(176,137,226,1) 83%, rgba(255,226,249,1) 222%, rgba(221,255,224,1) 222%, rgba(255,218,223,1) 222%); */ 

    display: flex;
    justify-content: center;
    align-items: center;
}

.titreJeu{
    font-family: 'FuturaPTBook';
    color: white;
    font-size: 7rem;
}


/* Section BUT MMI */

.BUTmmi{
    /* background: rgb(1,51,71); */
    /* /* /* /* background: linear-gradient(31deg, rgba(1,51,71,1) 20%, rgba(2,103,143,1) 49%, rgba(128,179,199,1) 74%, rgba(255,226,249,1) 222%, rgba(221,255,224,1) 222%, rgba(255,218,223,1) 222%); */

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logoBUT{
    width: 25%;
    height: 60%;
    border: solid black;
}

.defMMI{
    width: 30%;
}


/* Section Nous (les créateurs) */

.Nous{
    background-color: black;
}


/* Fonts */

@font-face{
    font-family: 'FuturaPTMedium';
    src: url("./FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff"),
         url("./FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2");
         font-style: normal;
         font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("./FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff"),
         url("./FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2");
         font-style: normal;
         font-weight: normal;
}