body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, rgba(176, 137, 226, 1) 25%, rgba(227, 171, 229, 1)80%);
    overflow: hidden;
}

.section {
    display: flex;
    justify-content: center;

}

img {
    width: 50vw;
    position: absolute;
    z-index: -9999;
}

.titreAccueil {
    font-family: 'FuturaPTBook';
    color: white;
    font-size: 7rem;
    margin-top: 10%;
}

.B2 {
    top: 60vh;
    left: -15vw;
}

.B3 {
    top: 60vh;
    right: 0;
}