body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgba(159, 242, 159, 1), rgba(90, 206, 90, 1)100%);
    overflow: hidden;
    position: relative;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divlogo {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.logo {
    width: 64px;
    height: auto;
    padding: 30px;
    animation: png 3s infinite;
}

.delai-1 {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }

.content {
    display: flex;
    max-width: 600px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #000;
    font-family: "FuturaPTMedium";
    font-size: 1.2rem;
}

h1{
    font-family: 'FuturaPTBook';
    text-align: center;
    margin: 0;
    color: white;
    font-size: 7rem;
    margin-top: 3%;
    text-shadow: 1px 1px 0px #ffffff, 5px 4px 0px rgb(0, 0, 0, 15%);
}

.portrait {
    position: absolute;
    width: 20%;
    z-index: -3;
    right: 0%;
    bottom: 0%;
}

.img {
    position: absolute;
    z-index: -2;

}

.B2 {
    top: 50%;
    left: -15%;
    width: 60%;
}

.B3 {
    top: -50%;
    right: 0;
    width: 60%;
}

.B4 {
    top: -20%;
    left: -20%;
    width: 60%;
}

.B5 {
    bottom: -50%;
    right: 0;
    width: 60%;

}

.B6 {
    top: 29%;
    left: -31%;
    width: 60%;
}

@font-face {
    font-family: 'FuturaPTMedium';
    src: url("../../FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2"),
        url("../../FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff");

    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("../../FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2"),
        url("../../FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}

@keyframes png {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-25px);
    }
}