/* Général */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    position: relative;
    font-family: 'FuturaPTMedium';

    background: rgb(176,137,226);
    background: linear-gradient(180deg, rgba(176,137,226,1) 26%, rgba(227,  171,229,1) 56%, rgba(255,175,175,1) 86%);
}

h1{
    text-align: center;
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
}

.triangle {
    width: 0;
    height: 0;
    border-top: 35px solid transparent;
    border-right: 60px solid white;
    border-bottom: 35px solid transparent;
    position: absolute;
    top: 3%;
    left: 2%;
}

.triangle:hover{
    animation: triangle 1s ease-in-out infinite alternate;
}

.titreMetierDex{
    color: white;
    font-size: 7rem;
}

.noMetier{
    text-align: center;
    margin: auto;
    color: white;
    font-size: 1.2rem;
    max-width: 500px;
}

/* ScrollBar */

::-webkit-scrollbar {
    width: 13px;
    height: 13px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #f9d4ff 14%, #c7ceff 64%);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(13deg, #c7ceff 14%, #f9d4ff 64%);
}

::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 15px;
    box-shadow: inset 7px 10px 12px #f0f0f0;
}



/* Bouton information */

.titre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}

.PI{
    width: 20px;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.modal-bg{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 1s;
}

.modal{
    position: relative;
    background-color: #fff;
    width: 30%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
}

.modal-active {
    visibility: visible;
    opacity: 1;
}

.mText{
    color: black;
    margin-bottom: 12%;
    text-align: center;
    max-width: 80%;
    font-size: 1.2rem;

}

.PI2{
    width: 20%;
    margin-top: 10%;
}

.modal-close{
    position: absolute;
    font-size: 1.5rem;
    top: 30px;
    right: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.modal-close:hover {
    opacity: 1;
}

.modal-close:before,
.modal-close:after {
    position: absolute;
    border-radius: 5px;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modal-close:before {
    transform: rotate(45deg);
}

.modal-close:after {
    transform: rotate(-45deg);
}



/* Barre de recherche */

.barreRecherche{
    width: 450px;
    height: 45px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
}

input:focus{
    outline: none;
    font-family: 'FuturaPTMedium';
    background: rgb(255, 238, 238);

}

input:hover{
    background: rgb(255, 238, 238);
    transition: background 0.8s;
}

.envoyer{
    background-color: white;
    border: none;
}

input{
    text-indent: 15px;
}



/* Les cartes */

.containMascotte2{
    position: absolute;
    top: 2%;
    right: 1%;
    z-index: 99;
    display: flex;
    flex-direction: row-reverse;
    animation: mascotte 1.8s ease-in-out infinite alternate-reverse;
    width: auto;
}

.containMascotte2:hover{
    animation-play-state: paused;
}

.mascotte2{
    width: 150px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}

.infoModal2{
    width: 380px;
    height: 210px;
    border-radius: 7px;
    background: white;
    position: absolute;
    /* z-index: 9999; */
    right: 130%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: all 0.8s ease-in-out;
}

.containMascotte2:hover > .infoModal2{
    visibility: visible;
    opacity: 1;
}

.infoModal2::after{
    left: 100%;
	top: 20%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-left-color: #fff;
	border-width: 35px;
	/* margin-top: -35px; */
}

.textModalInfo2{
    width: 100%;
    /* height: 100%; */
    /* border: solid black; */
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
}

.afficheMetiers{
    margin-top: 20px;
    max-width: 90vw;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
}

.carteMetier{
    width: 225px;
    height: 370px;
    border-radius: 17px;
    margin-bottom: 25px;
    cursor: pointer;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0px 3px 5px 5px rgba(0, 0, 0, 0.158);
}

.carteMetier:hover{
    animation: carte 1.5s ease-in-out infinite alternate-reverse;
    transform: scale(2);
}

.carteMetier h3{
    font-size: .950rem;
    padding-left: 20px;
    padding-top: 12px;
    max-width: 200px;
    margin: 0;
    color: black;
}

.intro1{
    color: black;
    font-size: 0.775rem;
    margin: auto;
    margin-top: 185px;
    line-height: 15px;
    width: 80%;
    text-align: center;
}

.modal-bg2{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 1s;
}

.modal-active2{
    visibility: visible;
    opacity: 1;
}

.modal2{
    position: relative;
    background-color: #fff;
    width: 80%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 40px;
    overflow-x: scroll;
}

body.modal-open{
    overflow: hidden;
}

.modalContent{
    width: 95%;
    height: 95%;
    display: flex;
    flex-direction: column;
}

.modalContent > h3{
    margin: 0;
}

.modalContent > p{
    color: black;
}

.modalP{
    text-align: left;
}

.titreMetierModal{
    font-size: 3.5rem;
    margin: 0;
    padding-top: 20px;
}

.intro2{
    font-size: 1.5rem;
    text-align: center;
    margin: 0;
}

.Pintro2{
    text-align: center;
}

.modal-close2{
    position: absolute;
    font-size: 1.5rem;
    top: 30px;
    right: 30px;
    cursor: pointer;
    height: 30px;
    width: 30px;
    opacity: 0.3;
}

.modal-close2:hover {
    opacity: 1;
}

.modal-close2:before,
.modal-close2:after {
    position: absolute;
    border-radius: 5px;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
}

.modal-close2:before {
    transform: rotate(45deg);
}

.modal-close2:after {
    transform: rotate(-45deg);
}



/* Fonts */

@font-face {
    font-family: 'FuturaPTMedium';
    src: url("../FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff"),
        url("../FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("../FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff"),
        url("../FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}



/* Keyframes */

@keyframes triangle {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(40px);
    }

}

@keyframes carte{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-10px);
    }
}

@keyframes mascotte {
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(15px);
    }
}