/* Général */

body {
    margin: 0;
    /* padding: 0; */
    height: 100vh;
    font-family: 'FuturaPTMedium';

    background: rgb(176,137,226);
    background: linear-gradient(180deg, rgba(176,137,226,1) 26%, rgba(227,  171,229,1) 56%, rgba(255,175,175,1) 86%);

}

h1{
    color: white;
    font-size: 7rem;
    text-align: center;

}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.barreRecherche{
    width: 450px;
    height: 45px;
    border-radius: 50px;
    margin-bottom: 20px;
    border: none;
}

input:focus{
    outline: none;
    font-family: 'FuturaPTMedium';
}

.carte{
    width: 300px;
    height: 500px;
    border: black solid;
}

.afficheMetier{
    border: solid black;
}

/* Fonts */

@font-face {
    font-family: 'FuturaPTMedium';
    src: url("../FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff"),
        url("../FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2");
    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("../FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff"),
        url("../FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2");
    font-style: normal;
    font-weight: normal;
}