body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    background: linear-gradient(180deg, rgba(43, 16, 85, 1), rgba(117, 151, 222, 1)100%);
    overflow: hidden;
    position: relative;
}

section {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    width: 100%;
    max-width: 1440px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.divlogo {
    position: relative;
    width: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 3%;
}

.logo {
    width: 64px;
    height: auto;
    padding: 30px;
}

.content {
    display: flex;
    max-width: 600px;
    margin-top: 3%;
    margin-bottom: 3%;
    color: #000;
    font-family: "FuturaPTMedium";
}

h1{
    font-family: 'FuturaPTBook';
    text-align: center;
    margin: 0;
    color: white;
    font-size: 7rem;
    margin-top: 3%;
}

.portrait {
    position: absolute;
    width: 20%;
    z-index: -3;
    left: 10%;
    top: 10%;
}

.img {
    position: absolute;
    z-index: -2;

}

.B2 {
    top: 50%;
    left: -15%;
    width: 60%;
}

.B3 {
    top: -40%;
    right: 0;
    width: 60%;
}

.B4 {
    top: -25%;
    left: -20%;
    width: 60%;
}

.B5 {
    top: 30%;
    right: 0;
    width: 60%;

}

.B6 {
    top: 20%;
    left: -38%;
    width: 60%;
}

@font-face {
    font-family: 'FuturaPTMedium';
    src: url("../../FONTS/Futura_PT_Medium/FuturaPTMedium.woff2") format("woff2"),
        url("../../FONTS/Futura_PT_Medium/FuturaPTMedium.woff") format("woff");

    font-style: normal;
    font-weight: medium;
}

@font-face {
    font-family: 'FuturaPTBook';
    src: url("../../FONTS/Futura_PT_Book/FuturaPTBook.woff2") format("woff2"),
        url("../../FONTS/Futura_PT_Book/FuturaPTBook.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}